.App {
  text-align: center;
  width:100%;
  font-size: calc(10px + 1vmin);
  /* background-color: #282c34; */
}



.movie-container
{
  display: flex;
  min-height: auto;
  min-width: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  /* justify-content: center; */
}



.App-link {
  color: #61dafb;
}


.movie
{
  border: 1px solid #282c34;
  border-radius: 3px;
  width:40%;
  margin:10px;
}